
body {
    background: #e0e8ff;
    margin: 0;
    padding: 0;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 50px;

    background: #ECFBFF;

    margin-left: auto;
    margin-right: auto;

    margin-top: 28px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

a {
    text-decoration: none;
}

.ops_icon {
    width: 25px;
}

.title {
    font-family: 'Inter', normal;
	font-size: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    margin-left: 70px;

    text-decoration: none;
    color: #000;
}

.login_logout_ref {
    font-family: 'Inter', normal;
    font-size: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    margin-right: 70px;

    color: #000;
}

.login_logout_ref:hover {
    text-decoration: underline;
}

.auth {
    padding-right: 20px;
}

.main_unit {
    height: 100%;
    margin-top: 10px;
    /* background-color: #333333; */
    display: flex;
    justify-content: space-between;
}

.add_task_button {
    width: 25px;
    height: 25px;
    margin-left: 48px;
    border-radius: 50%;
    /* background-color: #fff; */
}

.icon {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.add_icon {
    background: url("/static/taskedapp/images/free-icon-font-add-3914248.svg");
}

.add_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-add-3914208.svg");
}

.edit_icon {
    background: url("/static/taskedapp/images/free-icon-font-pen-circle-10742923.svg");
}

.edit_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-pen-circle-10742911.svg");
}

.delete_icon {
    background: url("/static/taskedapp/images/free-icon-font-cross-circle-3917206.svg");
    border-radius: 50%;
}

.delete_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-cross-circle-3917211.svg");
}

#username {
    font-size: 25px;

    font-family: 'Inter', normal;
    font-size: 20px;
    font-weight: 800;
    font-size: 16px;
}

.task_unit {
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid #333333 1px;
}

.task_header {
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 5px;

    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: lightgrey;
}

.task_header::after {
    content: "";
    background: #333333;
    width: 95.5%;
    height: 1px;
    margin-top: 42px;
    margin-left: 2.25%;
    position: absolute;
}

.task_title {
    margin-left: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #333333;
}

.task_date {
    margin-right: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
}

.task_unit_main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.task_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin-top: 10px;
    margin-left: 18px;
    width: 91%;
    min-height: 80px;
    word-wrap: break-word;
}

.task_ops {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 18px;
}

.task-complete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5cb85c;
}
task-complete-icon img {
    width: 19px;
    height: 19px; 
}

.ops_buttons {
    margin-bottom: 5px;

    width: 25px;
}

/* -------------------------------- ОКНО АВТОРИЗАЦИИ -------------------------------- */
.auth_window {
    height: 100%;
}

.auth_content {
    width: 350px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.auth_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    text-align: center;
    padding-top: 20px;
}

.user_data_unit {
    display: flex;
    flex-direction: column; 
    padding-left: 25px;
}

.user_data_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    margin-bottom: 7px;
}

#id_username {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 15px;
}

#id_password {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 25px;
}

#id_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 10px;
}

#id_password1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 10px;
}

#id_password2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 25px;
}

.auth_footer {
    width: 85%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
}

.reg_reference {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;

    color: #6492EC;
    text-decoration: none;
}

.reg_reference:hover {
    text-decoration: underline;
}

.auth_enter {
    width: 75px;
    height: 30px;

    border: none;
    border-radius: 5px;

    background: #7CE7F5;
    cursor: pointer;
}

.auth_enter:hover {
    background-color: #34e1f8;
}

/* -------------------------------- ОКНО РЕГИСТРАЦИИ -------------------------------- */

.reg_content {
    margin-top: 15%;
    width: 350px;
    height: 396px;
    background-color: #FFFFFF;
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;
}

.reg_footer {
    width: 85%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg_enter {
    width: 140px;
    height: 30px;

    border: none;
    border-radius: 5px;

    background: #7CE7F5;
    cursor: pointer;
}

.reg_enter:hover {
    background-color: #34e1f8;
}

.complete {
    background-color: darkseagreen;
}
.danger {
    background-color: red;
}

.task-items-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#add_task_button {
    margin: auto;
    margin-bottom: 10px;
}