
body {
    background: #e0e8ff;
    margin: 0;
    padding: 0;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    /* box-sizing: border-box; */
}

header {
    height: 50px;

    background: #ECFBFF;

    margin-left: auto;
    margin-right: auto;

    margin-top: 28px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

a {
    text-decoration: none;
}

.no_tasks {
    font-family: 'Inter', normal;
	font-size: 16px;
    font-weight: 800;

    color: #333333;
    text-align: center; 
}

.no_tasks h3 {
    margin-top: 20px;
    margin-bottom: -10px; 
}

.ops_icon {
    width: 25px;
}

.title {
    font-family: 'Inter', normal;
	font-size: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    margin-left: 70px;

    text-decoration: none;
    color: #000;
}

.login_logout_ref {
    font-family: 'Inter', normal;
    font-size: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    margin-right: 70px;

    color: #000;
}

.login_logout_ref:hover {
    text-decoration: underline;
}

.auth {
    padding-right: 20px;
}

.main_unit {
    height: 100%;
    margin-top: 10px;
}

.add_task_button {
    width: 25px;
    height: 25px;
    margin-left: 48px;
    border-radius: 50%;
    /* background-color: #fff; */
}

.icon {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.add_icon {
    background: url("/static/taskedapp/images/free-icon-font-add-3914248.svg");
}

.add_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-add-3914208.svg");
}

.edit_icon {
    background: url("/static/taskedapp/images/free-icon-font-pen-circle-10742923.svg");
}

.edit_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-pen-circle-10742911.svg");
}

.delete_icon {
    background: url("/static/taskedapp/images/free-icon-font-cross-circle-3917206.svg");
    border-radius: 50%;
}

.delete_icon:hover {
    background: url("/static/taskedapp/images/free-icon-font-cross-circle-3917211.svg");
}

.left_icon {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    background: url("/static/taskedapp/images/left_before.svg");    
}

.left_icon:hover {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    background: url("/static/taskedapp/images/left_after.svg");    
}


#username {
    font-size: 25px;

    font-family: 'Inter', normal;
    font-size: 20px;
    font-weight: 800;
    font-size: 16px;
    margin-left: 7px;
}

.card-body {
    /* display: flex;
    flex-direction: column; */
}

.middle_card {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.task_unit_detail {
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid #333333 1px;
    position: relative;
}

.button_block {
    height: 40px;
    display: flex;
    justify-content: right;
}

.submit_button {
    width: 120px;
    height: 32px;

    background: #7CE7F5;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    margin-right: 18px;
}

.submit_button:hover {
    background-color: #34e1f8;
}

.delete_button {
    width: 80px;
    height: 32px;
    background: #7CE7F5;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    margin-right: 18px;
}

.delete_button:hover {
    background-color: #34e1f8;
}

.task_unit {
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid #333333 1px;
}

.task_header {
    width: 100%;
    height: 34px;

    display: flex;
    justify-content: stretch;
    align-items: center;

    padding-bottom: 5px;

    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: rgb(235, 233, 233);
}

/* .task_header::after {
    content: "";
    background: #333333;
    width: 95.5%;
    height: 1px;
    margin-top: 42px;
    margin-left: 2.25%;
    position: absolute;
} */

.task_title {
    margin-left: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    height: 22px;

    color: #333333;
    border-radius: 7px;
    padding-left: 7px;
}

.task-title {
    margin-left: 18px;
}
.task-title-input , .date-class
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    height: 22px;

    color: #333333;
    border-radius: 7px;
    padding-left: 7px;
    border: solid 1px #333333;
}

.task_title::after {
    border: none;
}

.task_date {
    margin-right: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    margin-left: auto;
}

.task_unit_main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.task_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin-top: 10px;
    margin-left: 18px;

    padding-left: 7px;
    width: 91%;
    min-height: 80px;
    word-wrap: break-word;
}

.task-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    min-height: 120px;
    width: 94.7%;
    word-wrap:break-word;
    margin-top: 5px;
    margin-left: 18px;
    padding-top: 5px;
    padding-left: 7px;
    resize: none;
    border: 1px solid #fff;
    outline: none;
    margin-bottom: 5px;
}
.task-description:focus {
    border: 1px solid #333333;
    border-radius: 7px;
}

.task_ops {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 18px;
}

.task-complete-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5cb85c;
}

.task-complete-icon img {
    width: 19px;
    height: 19px; 
}

.ops_buttons {
    margin-bottom: 5px;

    width: 25px;
}

/* -------------------------------- ОКНО АВТОРИЗАЦИИ -------------------------------- */
.auth_window {
    height: 100%;
}

.auth_content {
    width: 350px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.auth_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    text-align: center;
    padding-top: 20px;
}

.user_data_unit {
    display: flex;
    flex-direction: column; 
    padding-left: 25px;
}

.user_data_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    margin-bottom: 7px;
}

#id_username {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 15px;
}

#id_password {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 25px;
}

#id_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 10px;
}

#id_password1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 10px;
}

#id_password2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    height: 25px;
    border-radius: 5px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 25px;
}

.auth_footer {
    width: 85%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
}

.reg_reference {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;

    color: #6492EC;
    text-decoration: none;
}

.reg_reference:hover {
    text-decoration: underline;
}

.auth_enter {
    width: 75px;
    height: 30px;

    border: none;
    border-radius: 5px;

    background: #7CE7F5;
    cursor: pointer;
}

.auth_enter:hover {
    background-color: #34e1f8;
}

/* -------------------------------- ОКНО РЕГИСТРАЦИИ -------------------------------- */

.reg_content {
    margin-top: 15%;
    width: 350px;
    height: 396px;
    background-color: #FFFFFF;
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;
}

.reg_footer {
    width: 85%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg_enter {
    width: 140px;
    height: 30px;

    border: none;
    border-radius: 5px;

    background: #7CE7F5;
    cursor: pointer;
}

.reg_enter:hover {
    background-color: #34e1f8;
}

.complete {
    background-color: darkseagreen;
}
.danger {
    background-color: rgba(255, 117, 117, 0.904);
}

.task-items-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#add_task_button {
    margin: auto;
    margin-bottom: 10px;
}

.form-errors{
    margin: 10px 20%;
    color: rgba(255, 117, 117, 0.904);
}
.form-errors.errorlist {
    list-style: none;
}

.form-errors.errorlist li::before {
    content: " • ";
}
.form-errors.errorlist li::after {
    content: " • ";
}

.task-check{
    margin: 0;
    height: 30px;
}

#id_complete{
    width: 22px;
    height: 22px;
    margin: 0;
    margin-top: 5.5px;
    margin-left: 10px;
}

.messages {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.message_info {
    align-items: center;
    text-align: center;
    
    min-height: 20px;
    min-width: 350px;
    padding: 8px;
    border-radius: 6px;
    background-color: #fdc6c6;
}

.form-errors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #333333;
    
    list-style-type:  none;
}

#id_complete {
    cursor: pointer;
}

.errorlist {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #333333;
    
    list-style-type:  none;
    max-width: 750px;

    margin-left: auto;
    margin-right: auto;
}

.errorlist li {
    margin-top: 15px;
    border-radius: 6px;
    
    background-color: #fdc6c6;
    min-height: 20px;
    width: auto;
    padding: 8px;
}
