{% extends 'taskedapp/main.html' %}
{% block content %}
{% load static %}
<div class="card-body auth_window">
    <div class="auth_content">
        <h3 class="auth_title">Авторизация</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="user_data_unit">
                {{form.username.errors}}
                <span class="user_data_title">
                    Логин
                </span>
                {{ form.username }}
                {{ form.password.errors }}
                <span class="user_data_title">
                    {{ form.password.label }}
                </span>
                {{ form.password }}
            </div>
            <div class="auth_footer">
                <input class="button auth_enter" type="submit" value="Войти">
                <a class="reg_reference" href="{% url 'register' %}" id="reg_reference">Нет учетной записи?</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
