{% extends 'taskedapp/main.html' %}
{% block content %}
{% load static %}

<div class="reg_content">
<h3 class="auth_title">Регистрация</h3>
<div class="card-body user_data_unit">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
        <input style="margin-top:10px ;" class="button" type="submit" value="Зарегистрироваться">
    </form>
    <a href="{% url 'login' %}">У вас уже есть аккунт?</a>
</div>
{% endblock content %}