{% extends 'taskedapp/main.html' %}
{% block content %}
{% load static %}

<div class="card-body">
    <a href="{% url 'tasks' %}">
        <div class="left_icon"></div>
    </a>
    <div class="task_unit_detail">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="task_header">
                <h2 class="task-title">{{form.title}}</h2>
                <h2 class="task-check">{{form.complete}}</h2>
                <h2 class="task_date">{{form.deadline.label_tag}} {{form.deadline}}</h2>
            </div>
            <div class="task_unit_main">
                {{form.description}}
            </div>
            <div class="button_block">
                    <input class="submit_button" type="submit" value="Подтвердить">
            </div>
        </form>
    </div>
    <div class="form-errors">
        {% if form.title.errors %}
        <div>{{ form.title.errors }}</div>
        {% endif %}
        
        {% if form.description.errors %}
            <div>{{ form.description.errors }}</div>
        {% endif %}

        {% if form.deadline.errors %}
            <div>{{ form.deadline.errors }}</div>
        {% endif %}
    </div>
</div>

{% endblock content %}