{% extends 'taskedapp/main.html' %}
{% block content %}
{% load static %}
<div id="tasklist" class="task-items-wrapper">
    <a href="{% url 'task-create' %}">Add</a>
    {% for task in tasks %}
    <div class="main_unit">
        <div class="task_unit">
            <div class="task_header">
                <h2 class="task_title">{{task}}</h2>
                <h2 class="task_date">{{task.deadline}}</h2>
            </div>
            <div class="task_unit_main">
                <p class="task_description">{{task.description}}</p>
                <li class="task_ops">
                    <a class="edit-link" href="{% url 'task-edit' task.id %}">Edit</a>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">Delete</a>
                </li>
            </div>
        </div>
    </div>
    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>
{% endblock content %}